[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
darts = "*"
jupyterlab = "*"
flask = "*"
pandas = "*"
numpy = "*"
flask-cors = "*"
colorama = "*"
pgzip = "*"

[dev-packages]

[requires]
python_version = "3"
